* {
    box-sizing: border-box;
}

main p, main span {
    font-size: 18px;
    width: 100%;
}

#quiz-container {
    display: inline-block;
    border: 2px solid black;
    text-align: center;
    color: black;
    text-align: center;
    width: 80%;
    height: 350px;
    padding: 20px 0 60px 0;
    margin: 0 auto;
    border-radius: 12px;
}

#start-info-top-corners {
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    font-size: 16px;
    width: 100%;
}

#link-to-high-scores button {
    color: rgb(129, 38, 129);
    font-size: 16px;
    border: none;
    text-decoration: none;
    background-color: white;
    width: 100%;
}

#link-to-high-scores button:hover {
    color: rgb(102, 6, 102);
    font-size: 18px;
}

#question-form {
    display: block;
}

#submit-answer-btn {
    border: 1px solid  rgb(32, 32, 114);
    height: 40px;
    width: 60px;
    background-color: rgb(32, 32, 114);
    color: white;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
}

#start-info {
    display: block;
    text-align: center;
}

#start-info button {
    margin: 0 auto;
    color: white;
    background-color: rgb(32, 32, 114);
    width: 100px;
    height: 50px;
    border-radius: 12px;
    font-size: 16px;
}

#start-info button:hover {
    background-color: rgb(114, 114, 223);
    width: 110px;
    height: 55px;
}