* {
    box-sizing: border-box;
}

main {
    margin: 0 auto;
    text-align: center;
}

main p, main span {
    font-size: 18px;
    width: 100%;
    
}

#quiz-container {
    display: inline-block;
    border: 2px solid black;
    text-align: center;
    color: black;
    width: 80%;
    height: 400px;
    padding: 20px 0 60px 0;
    margin: 0 auto;
    border-radius: 12px;
}

#start-info-top-corners {
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    font-size: 16px;
    width: 100%;
}


#link-to-high-scores button {
    color: rgb(129, 38, 129);
    font-size: 16px;
    border: none;
    text-decoration: none;
    background-color: white;
    width: 100%;
    margin-top: 15px;
}

#link-to-high-scores button:hover {
    color: rgb(102, 6, 102);
    font-size: 18px;
}

#refresh-window {
    margin: 0 auto;
}

.window-container {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 80%; 
}

#question-form {
    display: block;
    width: 90%;
    text-align: left;
    margin: 0 auto;
}

#question-form div, #question-form h1 {
    display: block;
    text-align: left;
}

#answer-button button {
    display: block;
    border: 1px solid  rgb(32, 32, 114);
    border-radius: 15px;
    height: 50px;
    width: 200px;
    background-color: rgb(32, 32, 114);
    color: white;
    text-align: center;
    margin: 10px;
    text-decoration: none;
    font-size: 20px;
    /* padding: 20px; */
}

#start-info {
    display: block;
    text-align: center;
}

#start-info button, #save-high-score-btn {
    margin: 0 auto;
    color: white;
    background-color: rgb(32, 32, 114);
    width: 100px;
    height: 50px;
    border-radius: 12px;
    font-size: 16px;
}

#start-info button:hover, #save-high-score-btn:hover {
    background-color: rgb(114, 114, 223);
    width: 110px;
    height: 55px;
}